.container
  .center.hero-uni
    %h1.form-signin-heading
      Edit
      = resource_name.to_s.humanize
    .offset3.span6.box
      = form_for @user, :html => {:multipart => true} do |f|
        %div.pull-left
          %ul
            %li.error_msg
              = link_to '', '', class: "close", :data => {"dismiss" => "alert"}
              %p= devise_error_messages!
        %div
          = f.label :first_name, class: "pull-left"
          = f.text_field :first_name, autofocus: "true", class: "span7"
        %div
          = f.label :last_name, class: "pull-left"
          = f.text_field :last_name, class: "span7"
        %div.edit_profile_password
          = image_tag @user.avatar.url(:thumb), class: "pull-left"
          %br/
          %br/
          %br/
          %br/
          = file_field_tag 'user[avatar]', class: "pull-left"
        = f.submit "Update", class: "btn btn-large btn-primary pull-left"
        = link_to "Cancel", users_index_path, class: "btn btn-large btn-primary"
        %br/
        %br/
        %br/
    /%h1.form-signin-heading
    /
      Cancel My Account
    /%p Unhappy?
    /    = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-large btn-primary"
