.container
  .center.hero-uni
    %h1.form-signin-heading Sign Up
    .offset3.span6.box
      = form_for @user, :as => resource_name, :url => registration_path(:user), :html => {:multipart => true}  do |f|
        %div.pull-left
          %ul
            %li.error_msg
              = link_to '', '', class: "close", :data => {"dismiss" => "alert"}
              %p= devise_error_messages!
        = f.label :first_name, class: "pull-left"
        = text_field_tag 'user[first_name]', nil, class: "span7", autofocus:  "true"
        = f.label :last_name, class: "pull-left"
        = text_field_tag 'user[last_name]', nil, class: "span7"
        = f.label :email, class: "pull-left"
        = f.email_field :email, class: "span7",autocomplete: "off"
        = f.label :password, class: "pull-left"
        = f.password_field :password, class: "span7"
        = f.label :password_confirmation, class: "pull-left"
        = f.password_field :password_confirmation, class: "span7"
        = file_field_tag 'user[avatar]'
        = f.submit "Sign up", class: "btn btn-large btn-primary pull-left"
        %br/
        %br/
        %br/
      = render "devise/shared/links"
