.center.hero-uni
  .container
    .span10offset1
    %h4.pull Manage Passwords
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tr
        %th User Name
        %th Email
        %th
      - @clients_passwords.each do |client|
        %tr
          %td
            = client.username
          %td
            = client.email
          %td
            = form_for '', :url => reset_password_clients_path do |f|
              = hidden_field_tag 'id', client.id
              = submit_tag "Reset Password", class: "btn btn-primary"
    .btn-group.pull-left
      = link_to "Back", admins_path, class: "btn btn-primary"