.container
  .pull-left
    %h4.pull-left Change Your Password
    %br/
    %br/
    .box
      = form_for @admin, :url => update_password_admins_path  do |f|
        -flash.each do |name, msg|
          %div.pull-left
            %ul
              %li.error_msg
                = link_to '', '', class: "close", :data => {"dismiss" => "alert"}
                %p= msg
        %div
          = f.label :email, "Email", class: "pull-left"
          = f.email_field :email, readonly: "true"
        %div
          = f.label :password, "New password", class: "pull-left"
          = f.password_field :password, :autofocus => true
        %div
          = f.label :password_confirmation, "Confirm Password", class: "pull-left"
          = f.password_field :password_confirmation
        %div.pull-left
          = f.submit "Update", class: "btn btn-primary"
          = link_to "Cancel", admins_path, class: "btn btn-primary"