= form_for @user do |f|
  = f.text_field :first_name, :placeholder => 'First Name', class: "span7"
  = f.text_field :last_name, :placeholder => 'Last Name', class: "span7"
  = f.text_field :email, :placeholder => 'Email', class: "span7"
  = submit_tag "Update", class: "btn btn-large btn-primary"
  = link_to "Cancel",users_path,class: "btn btn-large btn-primary"