= provide(:title, "Change Password")
.container
  .center.hero-uni
    %h1.form-signin-heading Change Password
    .box
      = form_for @user,:url => update_password_users_path do |u|
        = hidden_field_tag 'user[id]', @user.id
        = u.password_field :password, :placeholder => 'Old Password', class: "span7"
        = u.password_field :new_password, :placeholder => 'New Password', class: "span7"
        = u.password_field :password_confirmation, :placeholder => 'Confirm Password', class: "span7"
        = submit_tag "Update", class: "btn btn-large btn-primary"
        = link_to "Cancel",welcome_users_path,class: "btn btn-large btn-primary"

