.center.hero-uni
  .container
    %h1.form-signin-heading Dashboard
    -flash.each do |name, msg|
      .alert.alert-success
        = link_to '×', '', class: "close", :data => {"dismiss" => "alert"}
        =label_tag msg
    .span10offset1
      .span12
        %h3.text-center
          = @client.business_name.capitalize
        .control-group
          .controls
            = text_field_tag 'review_invitation[phone_number]', nil, class: "span7", autofocus:  "true",placeholder: "Customer phone number"
            = hidden_field_tag 'review_invitation_client_id'
        .control-group
          .controls
            = submit_tag "Send", class: "btn btn-primary sendReviewInvitationBtn"