= provide(:title, "Edit Profile")
.container
  %h4.pull-left Edit Client
  %br/
  %br/
  = render "clients/error_new_messages"
  = render "clients/edit_client"
#hidden(style="display:none")
  .control-group
    .controls
      = text_field(:client, :directory_url, :name => "client[client_urls_attributes][replace_me][directory_url]", :value => '')
      = image_tag('delete.png', name: "client[client_urls_attributes][deleteUrl][_destroy]", class: 'removeUrl')