.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = button_tag(type: 'button', class: 'btn btn-navbar') do
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -if !is_user?
        = link_to "Pocket Review", root_path, class: "brand", id: "logo"
      -else
        = link_to "Pocket Review", client_dashboard_path, class: "brand", id: "logo"
      - if is_current_user?
        .nav-collapse.collapse.navbar-inverse-collapse
          %ul.nav.pull-right
            - if is_user?
              %li
                = link_to("Change Password", change_current_client_password_clients_path)
              %li
                = link_to("Logout", destroy_user_session_path, :method => :delete)
            - else
              %form.nav.pull-right
                %li
                  = link_to("Manage Clients", manage_clients_path)
                %li
                  = link_to("Change Password", reset_password_admins_path)
                %li
                  = link_to("Logout", destroy_user_session_path, :method => :delete)
      - else
        .nav-collapse.collapse.navbar-inverse-collapse
          %ul.nav.pull-right
            %li
              = link_to "Sign In", new_user_session_path